<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex" />
<title>サンプルコード 【JS】GoogleMapや地名検索をページに埋め込んで位置情報を取得する方法</title>
​
</head>
​
<body>
  <h1>現在地を取得</h1>
  <p>住所や駅名、目印などで検索できます。</p>
  <form onsubmit="return false;">
    <input type="text" value="コンビニ" id="address">
    <button type="button" value="検索" id="map_button">検索</button>
  </form>
  <!-- 地図を表示させる要素 -->
  <div class="map_box01"><div id="map-canvas" style="width: 500px;height: 350px;"></div></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: {lat: 35.000, lng: 135.000},
        zoom: 5
      });
    }
  </script>
  <p>マーカーのある位置の<br>
    緯度 <input type="text" id="lat" value=""><br>
    経度 <input type="text" id="lng" value=""><br>
    地図上をクリックするとマーカーを移動できます。</p>
​
​
​
  <!-- APIを取得 -->
  <script type="text/javascript" src="//maps.google.com/maps/api/js?language=ja&region=JP&key=AIzaSyAFiiQ07NNboLBE3ZXTC8Zrs16PMcRJs-E&callback=initMap" async defer></script>
​
</body>
</html>
