<div class="panda">
  <img src="https://yamayose.s3-ap-northeast-1.amazonaws.com/gourmand_panda.jpg" alt="" class="panda-image">
</div>
<div class="message">
  <h1>今日からあなたも食いしん坊パンダ！</h1>
  <div class="">

  </div>
  <a href="/user/registration"><button value="ログイン" name="button" class="restaurant-map-btn">新規登録</button></a>
  <div class="">

  </div>
  <a href="/session/login"><button value="ログイン" name="button" class="restaurant-map-btn">ログイン</button></a>
</div>
