
      <div class="restaurant-top-wrapper">
        <form class="detail-form">
            <div class="restaurant-detail-image">
            </div>

            <div class="profile-image-edit edit-form hide">
              <p>写真をアップロード</p>
              <input type="file" name="" value="" accept="image/*" capture="enviroment/*" value="画像をアップロード" class="profile-image-edit">
            </div>
            <div>
            <p class="restaurant-name">味⚪️園<i class="fas fa-edit name-edit-btn">編集</i></p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.5795159106233!2d141.3480172565555!3d43.07131041243496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b290bbfd3841f%3A0x4c1feaf726be0d98!2z5ZGz6Kaa5ZySIOacreW5jOWMl-WPo-W6lw!5e0!3m2!1sja!2sjp!4v1573629643026!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" class="restaurant-map"></iframe>
            <div class="name-edit  edit-form">
              <input type="text" class="profile-name-edit hide" name="profile-name" placeholder="名前を入力">
            </div>
        </form>
      </div>
      <div class="mypage-bottom-wrapper">
        <div class="detail-infomation">
          <p>ここに詳細情報を加える。</p>
          <p>・使ったお金</p>
          <p>・評価(スライダーで評価)</p>
        </div>
      </div>
    
