
     <div class="post-wrapper">
       <%= form_tag '/post/create',method: 'post',class: "post-form",model: @post,local: true, multipart: true do %>
         <h2>新規投稿</h2>
         <p>店名</p>
         <input type="text" name="restaurant_name" value="" required>
         <p>住所</p>
         <input type="text" name="restaurant_adress" value="">
         <div class="">

         </div>
         <button type="button" name="button" class="map-btn">地図から選択</button><!-- Google mapのAPI使う？ -->
         <p>写真</p>
         <i class="fas fa-plus fa-2x"></i>
         <input name="image"  type="file" class="input-file" required>
         <script type="text/javascript">
           $('.fa-plus').click(function(){
             $('.input-file').click()
           });
         </script>
         <p>予算</p>
         ￥<input type="number" name="cost" value="" oninput="sliceMaxLength(this, 6)" required>
         <div class="range-group hide">
           <input type="range" min="0" max="5" value="0" name="rating" class="input-range" required>
          </div>
         <p>味</p>
         <div class="range-group">
           <input type="range" min="1" max="5" value="" name="taste" class="input-range" required>
         </div>
         <p>雰囲気</p>
         <div class="range-group">
           <input type="range" min="1" max="5" value="" name="vibes" class="input-range" required>
         </div>
         <p>コスパ</p>
         <div class="range-group">
           <input type="range" min="1" max="5" value="" name="price" class="input-range" required>
         </div>
         <script type="text/javascript">
           function sliceMaxLength(elem, maxLength) {
             elem.value = elem.value.slice(0, maxLength);
            }
           $('.range-group').each(function() {
             for (var i = 0; i < 5; i ++) {
               $(this).append('<a>');
             }
           });
           $('.range-group>a').on('click', function() {
              var index = $(this).index();
             $(this).siblings().removeClass('on');
              for (var i = 0; i < index; i++) {
                 $(this).parent().find('a').eq(i).addClass('on');
              }
             $(this).parent().find('.input-range').attr('value', index);
           });

           $('.name-edit-btn').click(function(){
             $('.profile-name-edit').removeClass('hide');
           });

           $('.image-edit-btn').click(function(){
             $('.profile-image-edit').removeClass('hide');
           });
         </script>
         <p>コメント</p>
         <textarea name="comment" rows="4" maxlength="140"></textarea>
         <p class="text-count">140文字まで入力できます。現在<span id="txtlmt">0</span>文字です</p>
         <script type="text/javascript">
           $("textarea").keyup(function(){
                var txtcount = $(this).val().length;
                $("#txtlmt").text(txtcount);
                if(txtcount == 0){
                  $("#txtlmt").text("0");
                }
                if(txtcount >= 140){
                  $("#txtlmt").css("color","red");
                } else {
                  $("#txtlmt").css("color","#333");
                }
            });
         </script>
         <input type="submit" name="" value="投稿" class="submit-btn post-submit">

       <% end %>
     </div>
