
     <div class="post-wrapper">
       <%= form_tag('/mypage/create',method: :post,class: "post-form") do %>
         <h2>投稿フォーム</h2>
         <p>店名</p>
         <input type="text" name="restaurant_name" value="">
         <p>住所</p>
         <input type="text" name="restaurant_adress" value="">
         <div class="">

         </div>
         <button type="button" name="button" class="map-btn">地図から選択</button><!-- Google mapのAPI使う？ -->
         <p>写真</p>
         <input type="file" name="post_image_name" value="" accept="image/*" capture="enviroment/*" value="画像をアップロード">
         <p>予算</p>
         <input type="number" name="cost" value="">
         <p>評価</p>
         <div class="range-group">
           <input type="range" min="1" max="5" value="" name="rating" class="input-range" />
         </div>
         <p>コメント</p>
         <textarea name="comment" rows="4"></textarea>
         <input type="submit" name="" value="投稿" class="submit-btn post-submit">

       <% end %>
     </div>
