<div class="post-wrapper">
  <%= form_tag '/post/create',method: 'post',class: "post-form",model: @post,local: true, multipart: true do %>
    <h2>新規投稿</h2>
    <p>名前</p>
    <input type="text" name="restaurant_name" value="" id="restaurant_name">
    <p>住所</p>
    <input type="text" name="restaurant_adress" value="" id="restaurant_address">
    <script type="text/javascript">
    var ok_button = document.getElementById("ok_button");
    ok_button.onclick = function() {
      geocode();
    }
    </script>
    <div class="">
    </div>
    <script type="text/javascript">

    function initAutocomplete(){
      //対応させるテキストボックス
      var input = document.getElementById('restaurant_address');
      //プレイスを検索する領域
      var LatLngFrom = new google.maps.LatLng(34.5,138.0);
      var LatLngTo   = new google.maps.LatLng(35.5,139.0);
      var bounds = new google.maps.LatLngBounds(LatLngFrom, LatLngTo);
      //オートコンプリートのオプション
      var options = {
        types: ['establishment'],                      // 検索タイプ
        bounds: bounds,                            // 範囲優先検索
        componentRestrictions: {country: 'jp'}     // 日本国内の住所のみ
      };
      autocomplete = new google.maps.places.Autocomplete(input, options);
    }
  </script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?language=ja&region=JP&key=AIzaSyAFiiQ07NNboLBE3ZXTC8Zrs16PMcRJs-E&&callback=initAutocomplete&libraries=places" async defer></script>
    <script type="text/javascript">
      const menubtn = document.querySelector('.btn-menu');
      const nav = document.querySelector('nav');
      console.log('js効いてる');

      menubtn.addEventListener('click', () => {
        nav.classList.toggle('open-menu')
        if (menubtn.innerHTML === 'MENU') {
          menubtn.innerHTML = 'CLOSE';
            } else {
          menubtn.innerHTML = 'MENU';
}
      });
    </script>
    <script type="text/javascript">
    window.onload = function(){
      // フォームに入力された住所情報を取得
      var address = document.getElementById("restaurant_address").value;
      // 取得した住所を引数に指定してcodeAddress()関数を実行
      //codeAddress(address);
      initAutocomplete();
    }
    //geocode();
    function geocode() {
      console.log('geocode')

      var address = document.getElementById('restaurant_address').value;
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ address: address }, function(results, status){
        //ステータスが OK で results[0] が存在すれば、地図を生成
        if (status === 'OK' && results[0]){
          //お店の緯度・経度をDBに格納
          document.getElementById('loc_lat').value = results[0].geometry.location.lat();
          document.getElementById('loc_lng').value = results[0].geometry.location.lng();
        }else{
        //ステータスが OK 以外の場合や results[0] が存在しなければ、アラートを表示して処理を中断
          alert('失敗しました。理由: ' + status);
          return;
        }
      });
    }
    </script>
    <input type="text" name="location_lat" id="loc_lat" value="" class="hide"><br>
    <input type="text" name="location_lng" id="loc_lng" value="" class="hide"><br>
    <p>写真</p>
    <i class="fas fa-plus fa-2x"></i>


    <input name="image"  type="file" class="input-file"  id="res-img" required >
    <div class="preview">
      <img id="image-preview">
    </div>
    <script type="text/javascript">

      document.getElementById('res-img').addEventListener('change', function (e) {
        var file = e.target.files[0];
        var blobUrl = window.URL.createObjectURL(file);
        var img = document.getElementById('image-preview');
        img.src = blobUrl;
      });

      $('.fa-plus').click(function(){
        $('.input-file').click()
      });


    </script>
    <p>予算</p>
    ￥<input type="number" name="cost" value="" oninput="sliceMaxLength(this, 6)" required>

    <div class="range-group hide">
      <input type="range" min="0" max="5" value="0" name="rating" class="input-range" required>
     </div>
    <p>味</p>
    <div class="range-group">
      <input type="range" min="1" max="5" value="" name="taste" class="input-range" required>
    </div>
    <p>雰囲気</p>
    <div class="range-group">
      <input type="range" min="1" max="5" value="" name="vibes" class="input-range" required>
    </div>
    <p>コスパ</p>
    <div class="range-group">
      <input type="range" min="1" max="5" value="" name="price" class="input-range" required>

    </div>
    <script type="text/javascript">
      function sliceMaxLength(elem, maxLength) {
        elem.value = elem.value.slice(0, maxLength);
       }
      $('.range-group').each(function() {
        for (var i = 0; i < 5; i ++) {
          $(this).append('<a>');
        }
      });
      $('.range-group>a').on('click', function() {
         var index = $(this).index();
        $(this).siblings().removeClass('on');
         for (var i = 0; i < index; i++) {
            $(this).parent().find('a').eq(i).addClass('on');
         }
        $(this).parent().find('.input-range').attr('value', index);
      });

      $('.name-edit-btn').click(function(){
        $('.profile-name-edit').removeClass('hide');
      });

      $('.image-edit-btn').click(function(){
        $('.profile-image-edit').removeClass('hide');
      });
    </script>
    <p>コメント</p>
    <textarea name="comment" rows="4" maxlength="140"></textarea>
    <p class="text-count">140文字まで入力できます。現在<span id="txtlmt">0</span>文字です</p>
    <script type="text/javascript">
      $("textarea").keyup(function(){
           var txtcount = $(this).val().length;
           $("#txtlmt").text(txtcount);
           if(txtcount == 0){
             $("#txtlmt").text("0");
           }
           if(txtcount >= 140){
             $("#txtlmt").css("color","red");
           } else {
             $("#txtlmt").css("color","#333");
           }
       });
    </script>

    <button type="button" name="button" class="ok_button restaurant-map-btn">投稿する</button>
    <button type="submit" value="ログイン" name="button" class="restaurant-map-btn hide">投稿する</button>
    <script type="text/javascript">
      // $('.ok_button').click(function(){
      //     console.log('押された')
      //     geocode();
      //
      //     $('.restaurant-map-btn').click()
      // });
      function click(){
        $('.restaurant-map-btn').click()

       }
      $('.ok_button').click(function(){
        console.log('押された')
        geocode();
        setTimeout("click()", 1000);
      });

    </script>

  <% end %>
</div>
