/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require croppie

 */

@import 'font-awesome-sprockets';
@import 'font-awesome';
 *{
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

header{
  background-color: green;
  display: flex;
  justify-content: space-between;
  color:white;
  height: 75px;
  padding: 20px 5px 0 5px;
}

body{
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.panda_logo{
  height: 67px;
  position: absolute;
  top: 9px;
}

.title{
  position: absolute;
  left: 80px;
  font-size: 40px;
  top: 17px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}

li{
  list-style:none;
}

.header-left{
  font-size: 30px;
}

.header-right ul{
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.header-right li{
  margin-right: 15px;
  margin-top: 5px;
}
footer{
  padding-top: 14px;
  height: 99px;
  background-color: green;
  color:white;
  text-align: center;
  line-height: 50px;
  font-size: larger;
}

footer h2{
  font-size: 40px;
  margin-bottom: -18px;
  margin-top: 9px;
}

main{
  height:auto;
  background-color:rgba(255,255,255,0.8);
  background-size: cover;
}

.fa-robot{
  font-size: 32px;
  margin-right: 5px;
}

.submit-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: green;/*色*/
  border: solid 1px white;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  height: 50px;
  width: 125px;
  margin-top: 20px;
  font-size: 16px;
}

.submit-btn:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.form-error {
  color: #ff4d75;
}

.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  z-index: 3;
}

.croppie-container {
  width: 100%;
  height: auto;
}
