// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage-edit-wrapper{
  border: 1px solid;
  height:447px;
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 87px;
}

.mypage-edit-form{
  border: 1px solid;
  height: 470px;
  width: 450px;
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  background-color: white;
  margin-bottom: 55px;
}



.profile-image {
    height: 161px;
}

.profile-image-edit p{
  font-size: 15px;
  margin-right: 118px;
}

.edit-btn{
  width: 210px;
  height: 31px;
  position: relative;
  top: -39.7px;
  left: 119px;
  background-color: white;
  opacity: 0.7;
}

.edit-link{
  color: black;
}

.fa-edit{
    font-size: 15px;
}
.fa-edit:hover{
  cursor: pointer;
  color: red;
}

.profile-image-edit{
  margin-bottom: 16px;
}
.profile-name-edit{
  width: 240px;
  height: 30px;
}

.profile-name{
  font-size: 25px;
  font-weight: bold;
  padding-left: 26px;
  margin-top: 22px;
}

.hide{
  display: none;
}

.mypage-top-wrapper{
  border: 1px solid;
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 80px;
}

.mypage-form{
  border: 1px solid;
  height: 350px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  background-color: white;
  margin-bottom: 55px;
}



.profile-image {
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
}

.profile-image-edit p{
  font-size: 15px;
  margin-right: 80px;
}

.edit-btn{
  width: 180px;
  height: 31px;
  position: relative;
  top: 150px;
  left: 0px;
  background-color: white;
  opacity: 0.5;
}

.fa-edit{
    font-size: 15px;
}
.fa-edit:hover{
  cursor: pointer;
  color: red;
}

.profile-image-edit{
  margin-bottom: 16px;
}
.profile-name-edit{
  width: 240px;
  height: 30px;
}

.profile-name{
  font-size: 25px;
  font-weight: bold;
  padding-left: 26px;
  margin-top: 22px;
}

.hide{
  display: none;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 30px;
  padding-bottom: 0px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  flex-wrap: wrap;
  clear: both;
  overflow: hidden;
  background-color: #d9d9d9;
  border-bottom: 3px solid #5ab4bd;
}


/*選択されているタブのコンテンツのみを表示*/
#status:checked ~ #status_content,
#restaurants:checked ~ #restaurants_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.restaurant-lists-item{
  width: 25%;
  height: 280px;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
}
.restuarant-image-1{
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  100%;       /* ※縦横を同値に */
  height: 271.9px;       /* ※縦横を同値に */
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
}
.restuarant-image-2{
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  display: inline-block;
}
.restuarant-image-3{
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  display: inline-block;
}
.list-item-image{
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  97%;       /* ※縦横を同値に */
  height: 271.9px;       /* ※縦横を同値に */
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  display: inline-block;
  padding: 5px;
}

.item-name{
  position: absolute;
  top: 41%;
  left: 15%;
  color: transparent;
  font-size: 20px;
}

.restaurant-lists-item .item-name{
  transition: 1s;
  font-weight:600;
  color:transparent;
}

.restaurant-lists-item:hover .item-name{
  font-weight:600;
  color:white;
}

.img-darken{
  transition: 1s;
  filter:brightness(25%);
}

.mypage-bottom-wrapper{
  height: auto;
  padding-bottom: 0px;
}
