// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* post.html css*/
// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* post.html css*/
.input-range {
  display: none;
}
.range-group {
  position: relative;
}
.range-group > a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.range-group > a:before {
  content: "\f005";
  font-family:'FontAwesome';
  font-size: 20px;
  font-weight: 900;
  color: #aaa;

}
.range-group > a.on:before {
  content: "\f005";
  font-weight: 900;
  color: #fc3;
}
.input-file{
  display: none;
}

.fa-plus{
  border: 1px solid;
padding: 15px;
border-radius: 10px;
}
.post-wrapper{
  border: 1px solid;
  height:auto;
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
.post-form{
  border: 1px solid;
  height: 642px;
  width: 450px;
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  background-color: white;
}

.text-count{
  font-size: 15px;
}

.post-form input{
  width:250px;
  margin-bottom: 5px;
}

.post-form textarea{
  height:75px;
  width:250px;
  resize: none;
}
.post-submit{
  width:125px;
}

.map-btn{
  margin-right: 170px;
}

.detail-form {
  border: 1px solid;
  height: 350px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  background-color: #d9d9d9;
  margin-bottom: 55px;
}


.restaurant-detail-image {
  background-image: url("panda.jpg");  /* 表示する画像 */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;
  background-position: center center;  /* 横長画像の中央を基準に表示 */
  float: left;
  display: inline-block;
}

.restaurant-name {
  font-size: 18px;
  font-weight: bold;
  padding-left: 2px;
  margin-top: 6px;
}

.edit-icon{
  margin-right: 10px;
  margin-top: 5px;
  font-size: 25px;
  position: relative;
}
.edit-menu{
display: block;
position: absolute;
top: 27px;
right: -39.5%;
width: 59px;
text-align: center;
background-color: white;
font-size: 17px;
}
.restaurant-map {
  width: 350px;
  height: 300px;
  frameborder: 0;
  position: relative;
  float: left;
}

.mypage-bottom-wrapper {
  background-color: #d9d9d9;
  border: 1px solid;
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 80px;
}

.post-flash{
  opacity: 0.9;
  position: absolute;
  width: 100%;
  color: white;
  background-color: royalblue;
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}
.posts-lists{
  display: flex;
  justify-content: center;
}

.list-bottom{
  display: flex;
  flex-direction: row;
}

.list-right{
  display: flex;
  font-size: 19px;
}

.restaurant-detail{
  width: 260px;
  margin-left: 10px;
  margin-right: 20px;
}
.posts-list-item{
  width: 820px;
  height: 275px;
  background-color: lightgrey;
  border: 1px solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment{
  width: 336px;
}
.post-image{
  height: 200px;
  width: 190px;
  margin-left: 10px;
}

.post-date{
  float: right;
}

.list-upper{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.posts-list-wrapper{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.index-container{
  height: 446px;
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.index-wrapper{
  background-color: white;
  height: 232px;
  width: 590px;
  text-align: center;
  padding-top: 66px;
  border: solid 1px;
  border-radius: 11px;
  font-size: 20px;
}
.index-wrapper h2{

  margin-bottom: 30px;
}

.index-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: green;/*色*/
  border: solid 1px white;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  height: 64px;
  width: 177px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 900;
}

.index-btn:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.index-btn:hover{
  cursor: pointer;
}

.star{
  color:yellow;
}

.edit-menu{
  border: 1px solid;
  display: none;
  position: absolute;
  top: 31px;
  right: -39.5%;
  width: 59px;
  text-align: center;
  background-color: white;
  font-size: 17px;
}

.edit-menu a{
  color: black;
}

.delete-confirm{
  border: 1px solid;
  display: none;
  position: absolute;
  background-color: white;
  top: 31px;

  right: -40.5%;
  font-size: 16px;
  height: 69px;
  padding-top: 7px;
  width: 258px;
  padding-left: 13px;
  padding-right: 5px;
}

.cancel-btn{
  margin-right: 7px;
  width: 87px;
  height: 27px;
  color: black;
}

.delete-confirm-btn{
  text-align: center;
  margin-top: 8px;
}

.delete-link{
  color: white;
  border: 1px solid gray;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  width: 68px;
  text-align: center;
  background-color: red;
}

.delete-confirm-btn a:hover{
  color:white;
}

.fa-ellipsis-h,.fa-times{
  cursor: pointer;
}

.delete-txt{
  cursor: pointer;
}
.delete-txt:hover{
  color:red;
}

.fa-times{
  color:red;
}
