// Place all the styles related to the restaurant_map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map{
  padding:50px;
}

.map_box01{
  display: flex;
  justify-content: center;
}
.map-title{
  text-align:center;
}

.search-box{
  text-align:center;
  margin-bottom:10px;
  margin-top:15px;
}

@media screen and (max-width:639px) {
/*スマホ用のcssを記述*/
}

@media only screen and (min-width:640px) and (max-width:1023px) {
/*tablet用のcssを記述*/
}

@media screen and (min-width:1024px) {
/*pc用のcssを記述*/
}
