
     <div class="mypage-edit-wrapper">
       <form class="mypage-edit-form">
           <h2>сЃЌсЃГсЃЋсѓБсЃ╝сЃФ</h2>
           <div class="profile-image">
             <img src="panda.jpg" alt="">
             <div class="edit-btn">
               <i class="fas fa-edit image-edit-btn">уиежЏє</i>
             </div>
           </div>

           <div class="profile-image-edit edit-form hide">
             <p>тєЎуюЪсѓњсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ</p>
             <input type="file" name="" value="" accept="image/*" capture="enviroment/*" value="ућ╗тЃЈсѓњсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ" class="profile-image-edit">
           </div>
           <p class="profile-name">сЃЉсЃ│сЃђтцфжЃј­Ъљ╝<i class="fas fa-edit name-edit-btn">уиежЏє</i></p>
           <div class="name-edit  edit-form">
             <input type="text" class="profile-name-edit hide" name="profile-name" placeholder="тљЇтЅЇсѓњтЁЦтіЏ">
           </div>
           <input type="submit" name="" value="ТЏ┤Тќ░" class="submit-btn">
       </form>
     </div>
