<div class="mypage-edit-wrapper">

  <%= form_tag "/user/#{current_user.id}/update",method: :post, model: @user, local: true, multipart: true, class: "mypage-edit-form" do %>

    <p class="form-p">プロフィール変更</p>

    <div class="profile-image" id="profile-image-box">

      <% if @user.image_url %>
      <img src="<%= @user.image_url %>" alt="" style = "height:200px; width:200px;">
      <% else %>
      <img src="/panda_profile.jpg" alt="" class="user-image">
      <% end %>

    <div class="edit-btn-user">
      <p class="profile-image-edit-icon"><i class="fas fa-edit"></i>編集</p>
    </div>

    </div>
<!-- 写真アップロード -->
    <input name="image" type="file" class="input-file" id="profile-image">
<div id="cropBox">

  <div class="js-croppie">
    <p>ここにトリミング画面が表示されるよ</p>
  </div>
  <div class="repost">
</div>
  <!-- <button type="button" class="hide" name="button" id="repost">画像を選び直す</button> -->
</div>
<!-- なぜかクリックすると画面が遷移かつ画像の変更が反映されてしまう（トリミングは反映されず） -->
<div class="js-cropped-image"></div>
<button type="button" class="js-crop restaurant-map-btn">OK</button>


<!-- js -->
<script type="text/javascript">

  $(function() {
    // inputタグに入れた画像のURL取得
    document.getElementById('profile-image').addEventListener('change', function (e) { //change→<input>profile-imageの中身が変化したときに発火

      var file = e.target.files[0];
      var blobUrl = window.URL.createObjectURL(file);
      var img = document.getElementById('profile-preview');
      var profImage = document.getElementById('profile-image-box');
      var $preview = $('.js-croppie');

      profImage.classList.add('hide');

      // var repost = document.getElementById('repost');
      // repost.classList.remove('hide');

      var $croppie = $preview.croppie({
      // urlの取得をファイルのアップロード後にしたい
      url: blobUrl,
      // ↑ここにinputタグにいれた画像のURLを入れる
      // トリミング画面の見た目の設定
      viewport: {
        width: 200,
        height: 200,
        type: 'circle'
      },
      boundary: {
        width: 300,
        height: 300
      }
    });

    // $('#repost').on('click', function(){
    //   var cropBox = document.getElementsByClassName('croppie-container');
    //   cropBox.innerHTML = '';
    // })

    $('.js-crop').on('click', function() {
      // ボタンを押すと座標をDBに送るようにする
      $croppie.croppie('result', 'base64').then(function(base64) {
        $croppedImage = $('.js-cropped-image');
        //↓js-cropped-imageに入ってるhtml要素を空に
        $croppedImage.html('');
        $('<img>').attr('src', base64).appendTo($croppedImage);
        document.getElementById('trimmed-image').value = base64;
      });
    })
    });
   })

   $('#repost').click(function(){
     // $('.input-file').click()
     $("#profile-image").val("");
    cropBox = document.getElementsByClassName('js-croppie');
     cropBox.removeChild(cropBox.firstChild);
     cropBox.removeChild(cropBox.lastChild);
     // console.log(cropBox);
   });
</script>
<input type="text" name="base64" value="" id="trimmed-image">
    <p>ニックネーム</p>
    <input type="name" name="name" class="input-text" value="<%= current_user.name %>">
    <p>メールアドレス</p>
    <input type="email" name="email" class="input-text" value="<%= current_user.email %>">
    <div class=""></div>
    <button type="submit" value="ログイン" name="button" class="restaurant-map-btn">変更する</button>
  <% end %>
</div>
<script type="text/javascript">

  $('.profile-image-edit-icon').click(function(){
    $('.input-file').click()
  });


</script>
