<div class="mypage-edit-wrapper">
  <%= form_tag("/user/#{current_user.id}/update",method: :post, class: "mypage-edit-form") do %>
    <p class="form-p">プロフィール変更</p>
    <p>ニックネーム</p>
    <input type="name" name="name" class="input-text" value="<%= current_user.name %>">
    <p>メールアドレス</p>
    <input type="email" name="email" class="input-text" value="<%= current_user.email %>">
    <div class=""></div>
    <input type="submit" name="" value="登録変更" class="submit-btn">
  <% end %>
</div>
