
     <div class="mypage-edit-wrapper">
       <form class="mypage-edit-form">
           <h2>プロフィール</h2>
           <div class="profile-image">
             <img src="panda.jpg" alt="">
             <div class="edit-btn">
               <i class="fas fa-edit image-edit-btn">編集</i>
             </div>
           </div>

           <div class="profile-image-edit edit-form hide">
             <p>写真をアップロード</p>
             <input type="file" name="" value="" accept="image/*" capture="enviroment/*" value="画像をアップロード" class="profile-image-edit">
           </div>
           <p class="profile-name"><%= current_user.name %><i class="fas fa-edit name-edit-btn">編集</i></p>
           <div class="name-edit  edit-form">
             <input type="text" class="profile-name-edit hide" name="profile-name" placeholder="名前を入力">
           </div>
           <input type="submit" name="" value="更新" class="submit-btn">
       </form>
     </div>
