
      <div class="mypage-top-wrapper">
        <form class="mypage-form">
            <div class="profile-image">
              <%#= <img src="<%= "/user_images/#{@user.image_name}" >"> %>
              <div class="edit-btn">
                <i class="fas fa-edit image-edit-btn">編集</i>
              </div>
            </div>

            <div class="profile-image-edit edit-form hide">
              <p>写真をアップロード</p>
              <input type="file" name="" value="" accept="image/*" capture="enviroment/*" value="画像をアップロード" class="profile-image-edit">
            </div>
            <p class="profile-name"><%= current_user.name %><i class="fas fa-edit name-edit-btn"><%= link_to("編集", "/mypage/edit") %></i></p>
            <div class="name-edit  edit-form">
              <input type="text" class="profile-name-edit hide" name="profile-name" placeholder="名前を入力">
            </div>
            <input type="submit" name="" value="行ったお店マップへ" class="submit-btn">
        </form>
      </div>
      <div class="mypage-bottom-wrapper">
        <div class="tabs">
          <input id="status" type="radio" name="tab_item">
          <label class="tab_item" for="status">ステータス</label>
          <input id="restaurants" type="radio" name="tab_item">
          <label class="tab_item" for="restaurants">行ったお店</label>
          <div class="tab_content" id="status_content">
            <div class="tab_content_description">
              <p class="c-txtsp">ステータスの内容がここに入ります</p>
              <p class="customer-rank">現在のあなたの役職は「係長」です</p>
              <p class="customer-total-amount">今までに使った合計金額は「30000円」です</p>
            </div>
          </div>
          <div class="tab_content" id="restaurants_content">
            <div class="tab_content_description">
              <p class="c-txtsp">行ったお店の内容がここに入ります</p>
              <div class="customer-restaurant">
                <p><img src="restaurant1.png" alt="［写真］" class"restuarant-image-1">店舗1</p>
              </div>
              <div class="customer-restaurant">
                <p><img src="restaurant2.png" alt="［写真］" class"restuarant-image-2">店舗2</p>
              </div>
              <div class="customer-restaurant">
                <p><img src="restaurant3.png" alt="［写真］" class"restuarant-image-3">店舗3</p>
              </div>
              <div class="customer-restaurant">
                <p><img src="restaurant4.png" alt="［写真］" class"restuarant-image-4">店舗4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
